<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LicenseApiUrl" value="https://shrimayanand.com/api/method/cdr-activator?machineId=123&amp;licenseKey=chetan@123" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
